<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Vignesh Kangaraj</h2>
            <h4>vickyk@gmail.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Vignesh Kangaraj">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/booklist">Book List</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/addbook">Add Book</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/memberlist">Member List</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/addmember">Add Member</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/issuedbooklist">Issued Books</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/issuebook">Issue New Book</a>
     <a mat-list-item routerLinkActive="list-item-active" routerLink="/viewreturnedbook">View Returned Books</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/returnbook">Return Book</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>
